---
---
<!doctype html>

<html lang="pl">
<head>
  <meta charset="utf-8">
  <title>TransparenCEE Report 2015-2016</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="http://2016.transparencee.org/images/t_cee5.jpg">
  <meta property="og:url" content="http://2016.transparencee.org">
  <meta property="og:title" content="TransparenCEE Report 2015-2016">

  <!-- Typekit -->
  <script src="https://use.typekit.net/mdw5hvk.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
  
  <link rel="stylesheet" href="css/lightslider.min.css">
  <link rel="stylesheet" href="css/lightgallery.min.css">
  <link rel="stylesheet" href="css/jquery.fullPage.css">
  <link rel="stylesheet" href="css/style.css">

  <link rel="icon" href="images/favicon.png" type="image/png"/>

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

  <script src="js/jquery-3.1.0.min.js"></script>
  <script src="js/lightslider-master/dist/js/lightslider.min.js"></script>
  <script src="js/lightgallery-all.min.js"></script>
  <script src="js/jquery.fullPage.min.js"></script>
  <script src="js/jquery.fullpage.extensions.min.js"></script>
  <script src="js/ScrollMagic-master/scrollmagic/minified/ScrollMagic.min.js"></script>
  <script src="js/script.js"></script>


</head>

<body class="invert-header">
  <div class="global-container"> 

    {% include header.html %}
    
    <div class="sections-container">
      {% include section-cover.html %}
      {% include section-intro.html %}
      {% include section-civic-tech.html %} 
      {% include section-events.html %}
      {% include section-event-2.html %}
      {% include section-event-3.html %}  
      {% include section-event-1.html %}
      {% include section-event-4.html %}
      {% include section-build.html %} 
      {% include section-standards.html %}
      {% include section-data.html %}
      {% include section-practices.html %}
      {% include section-thankyou.html %}
      {% include section-bye.html %}
    </div>

  </div>
</body>
</html>
