<section id="section-event-1" class="section event-section">
  <div class="content-column">
    <h2 class="slide-title">
      <span class="title-text">Personal Democracy Forum Ukraine</span>
      <span class="shadow"></span>
    </h2>

    <div class="event-images">
      <div class="event-image-1">
        <img src="images/event-1-1.jpg" alt="">
        <div class="event-image-link">
          <a target="_blank" href="http://pdfukraine2016.transparencee.org/en/home-page/">Website</a>
          <span class="divider">|</span>
          {% include photos-1.html %} 
          <img src="images/arrow-left.svg" class="links-arrow" alt="">
        </div>
      </div> 
      <div class="event-image-2">

        <div class="pdfua-text">
          <img class="youtube-icon" src="images/youtube-icon.svg" alt="">
          <div class="youtube-text">
          If you want to come back to some memories and learnings, you can find the recording all presentations in the YouTube playlists:</div>
          <div class="language-links"> 
            <a class="language-circle" target="_blank" target="_blank" href="https://www.youtube.com/watch?v=93o3ym5B60s&index=1&list=PLZtZF1bxmy31Io8dj9qQUtzh8d_td_C3b">UA</a>
            <a class="language-circle" target="_blank" target="_blank" href="https://www.youtube.com/watch?v=93o3ym5B60s&list=PLZtZF1bxmy30L9p2jJVuTRa7yHiO6v1aK&index=1">EN</a>
          </div> 
        </div>
        
        <div class="event-image-link">
          <a target="_blank" href="https://twitter.com/hashtag/pdfua?f=tweets&vertical=default&src=hash">#PDFUA</a>
          <span class="divider">|</span>
          <a target="_blank" href="https://storify.com/DHRProject/first-personal-democracy-forum-in-ukraine">Storify</a>
          <img src="images/arrow-right.svg" class="links-arrow" alt="">
        </div>

      </div>
    </div>
  
  </div>
</section>
